
.company {
    width: 698px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.71;
}
.company p {
    margin: 0;
    /* margin-bottom: -14px; */
    white-space: pre-line;
}
/* .company__item {
    text-indent: 20px;
} */
.company li {
    margin-left: 40px;
}
.company li::before {
        content: "•";
        padding-right: 17px;
        margin-left: -29px;
}
.booking {
    width: 600px;
    min-height: 78px;
    padding: 15px 70px 16px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.66;
    color: #fff;
    background-color:#1c5bc3;
    /* text-align: justify; */
}

.booking__link {
    font-weight: 700;
    color: #fff;
}
.booking__link:hover, .phone--booking:hover {
    text-decoration: none;
}
.phone--booking {
    color: #fff;
    font-weight: 700;
}
.partners {
    margin-top: 60px;
    width: 890px;
}
.partners__title {
    font-family: 'Roboto', sans-serif;
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 40px;
}
.partners__item {
    display: inline-block;
    width: 161px;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 65px;
    margin-left: 0px;
    margin-right: 105px;
    filter: grayscale(100%);
    -webkit-transition: grayscale, 2s;
    transition: grayscale, 2s;
    
}
.partners__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.partners__item:hover  {
    filter: grayscale(0%);
}
/* .partners__link:hover .partners__icon_bmp {
    background: url(../../img/logo/bmp.png) center center no-repeat;
} */