
.company {
    width: 698px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.61;
}
.company .text {
    white-space: pre-line;
}
/* .company__item {
    text-indent: 20px;
} */
.booking {
    width: 600px;
    min-height: 78px;
    padding: 15px 70px 16px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.66;
    color: #fff;
    background-color:#1c5bc3;
    /* text-align: justify; */
}

.booking__link {
    font-weight: 700;
    color: #fff;
}
.phone--booking {
    color: #fff;
    font-weight: 700;
}
.partners {
    width: 890px;
}
.partners__title {
    font-family: 'Roboto', sans-serif;
    font-size: 49px;
    font-weight: 700;
}
.partners__item {
    display: inline-block;
    width: 161px;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 100px;
}
/* .partners__link:hover .partners__icon_bmp {
    background: url(../../img/logo/bmp.png) center center no-repeat;
} */