.main__title {
    margin-bottom: 0;
}
.feedback {
    margin-left: 40px;
    clear: both;
    width: 900px;
}
.opinion {
    border-bottom: 2px solid #f5f5f5;
    padding-top: 29px;
    /* margin-top: 50px; */
    /* Style for "Rectangle" */
    /* width: 883px;
    height: 5px;
    background-color: #f5f5f5; */
    width: 880px;
}
.opinion__photo {
    width: 160px;
    display: inline-block;
    clip-path: circle(80px at 50% 50%);
    float: left;
    margin-right: 20px;
    /* margin-bottom: 28px; */
}
.customer {
    width: 695px;
    min-height: 188px;
}

.opinion:last-of-type {
    border: none;
}