.main__title {
    margin-bottom: 0;
}
.feedback {
    margin-left: 40px;
    clear: both;
    width: 900px;
    margin-bottom: 33px;
}
.opinion {
    border-bottom: 2px solid #f5f5f5;
    padding-top: 25px;
    width: 883px;
    padding-bottom: 7px;
    /* width: 900px; */
}
.opinion:first-of-type {
    padding-top: 34px;
}
.opinion__photo {
    width: 160px;
    display: inline-block;
    clip-path: circle(80px at 50% 50%);
    float: left;
    margin-right: 20px;
    margin-top: 6px;
    background-color: #f5f5f5;
    /* margin-bottom: 28px; */
}
.opinion:last-of-type {
    border: none;
    margin-bottom: -11px;
}
.customer {
    width: 695px;
    min-height: 188px;
    color: #221f1f;
    font-family: 'Roboto', sans-serif;
    margin-left: 160px;
}
.customer__date {
    color: #656464;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    /* margin-top: -5px; */
    margin-bottom: 5px;
}
.customer__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 9px;
}
.customer__comment {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.pagination {
    display: inline-block;
    font-family: 'Roboto', sans-serif;    
    font-size: 0px;
    vertical-align: middle;
    width: 46%;
    margin-bottom: 70px;
    margin-left: 28%;
    margin-right: 36%;
}
.pagination__current {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #656464;
    float: left;
    margin-right: 14px;
}
.pagination__item {
    width: 28px;
    height: 28px;
}
.pagination a {
    color: black;
    /* padding: 4px 8px; */
    padding-top: 4px; 
    padding-left: 9px;
    padding-bottom: 4px;
    padding-right: 8px;

    text-decoration: none;
    transition: background-color .3s;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    /* line-height: 21px; */
}
.pagination a:first-of-type {
    color: #bebdbd;
    margin-right: 5px;
}
.pagination a:last-of-type {
    color: #262323;
    margin-left: 5px;
}
.pagination a.active {
    background-color: #1c5bc3;
    color: white;
}
.pagination a:hover:not(.active) {
    color: #1c5bc3;
}
.post {
    width: 560px;
    background-color: #f5f5f5;
    padding-top: 43px;
    padding-right: 70px;
    padding-bottom: 110px;
    padding-left: 69px;
    display: block;
    margin-left: 40px;
    margin-bottom: 48px;
}
.post__title {
    margin-bottom: 4px;
}
.post__left {
    display: inline-block;
    float: left;
    margin-bottom: 22px;
}
.post__right {
    display: inline-block;
    float: left;
    margin-left: 22px;
    margin-bottom: 22px;
}
.post__input {
    color: #221f1f;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 258px;
    height: 42px;
    background-color: #fff;
    padding-left: 10px;
    border: none;
}
/* input[type=text]:focus {
    outline-color: red;
} */
.post__input:focus {
    outline-color: #1c5bc3;
    /* outline-width: thin; */
}

.post__middle {
    width: 100%;
}
.post__input--middle {
    width: 98%;
    height: 84px;
    resize: none;
}
.post__question {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    /* width: 200px;
    margin: 0;
    padding-bottom: 7px; */
}
.post__select {
    margin-top: 2px;
    float: left;    
}
.post__button {
    float: right;
    margin-top: 17px;
    position: relative;
    /* width: 153px;
    height: 45px; */
}
.radio {
    width: 23px;
    height: 23px;
    /* vertical-align: middle; */
    background-color: #fff; 
    display: none;
    position: absolute;
    right: 150px;
    /* left: -9999px; */
}
.radio:checked + .bigcircle {
    border-color: #1c5bc3; 
}
.radio:checked + .bigcircle .circle {
    display: inline-block;

}
.radio:checked + .bigcircle .radio__text {
    color: #1c5bc3;
}
.radio__label {
    width: 50px;
    height: 24px;
    display: inline-block;
    color: #1c5bc3;
    position: relative;
    margin-top: 3px;
    margin-right: 9px;
}
.bigcircle {
    width: 18px;
    height: 18px;
    background-color: #fff;
    display: block;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    color: #1c5bc3;
    position: relative;
    /* vertical-align: middle; */
}

.circle {
    width: 8px;
    height: 8px;
    background-color: #1c5bc3;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.radio__label:hover .circle {
    display: inline-block;
}
.radio__label:hover .bigcircle {
    border-color: #1c5bc3; 
}
.radio__text {
    font-family: 'Roboto', sans-serif;

    width: 17px;
    height: 12px;
    font-size: 14px;
    font-weight: 300;

    display: inline-block;
    transform: translate(25px,0);
    color: #221f1f;
}
.radio__label:hover .radio__text {
    color: #1c5bc3;
}
.submit {
    position: relative;
    left: 9999px;
    display: none;
}
.submit__button {
    width: 153px;
    height: 45px;
    background-color: #1c5bc3;
    color: #fff;
    border: solid 1px #1c5bc3;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    transition: 2s;
    
}
.submit__text {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    position: absolute;
    top: 40%;
    left: 13%;
}
.submit__text::after {
    content: url(../../img/intro/plane-active.png);
    opacity: 1;
    position: absolute;
    left: 99px;
    top: -2px;
    /* vertical-align: middle; */
    transition: 2s;
}
.submit__text::before {
    opacity: 0;
    content: url(../../img/intro/plane.png);
    position: absolute;
    left: 99px;
    top: -2px;
    transition: 2s;
}


.button__img {
    margin-top: 2px;
    margin-left: 2px;
    width: 17px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../../img/label/plane_white.png) no-repeat;
    background-position-x: 17px;
    transition: color, background-color, 1.7s;
}
.submit__button:hover {
    background-color: #fff ;
    color: #1c5bc3;
}
.submit__button:hover ::after {
    opacity: 0;
}
.submit__button:hover ::before {
    opacity: 1;
}
