.introbackground {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    background: url(../../img/intro/intro-background.png) no-repeat;
    background-size: cover;
}
.content--intro {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 207px;
    transform: translate(-50%,-50%);
}
.logo--intro {
    margin-left: 23.18%;
    margin-right: 23.18%;
    margin-bottom: 37px;
}
.button--intro {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1c5bc4;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: solid 1px #1c5bc3;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    transition: 2s;
}
.button__text {
    text-align: justify;
    letter-spacing: 2.4px;
    display: inline-block;
    float: left;
    /* vertical-align: middle; */
    margin-left: 13px;
}
.button__text::after {
    content: url(../../img/intro/plane-active.png);
    opacity: 0;
    position: absolute;
    left: 171px;
    top: 242px;
    vertical-align: middle;
    transition: 2s;
    z-index: 2;
}
.button__text::before {
    opacity: 1;
    content: url(../../img/intro/plane.png);
    position: absolute;
    top: 239px;
    left: 171px;
    margin-top: 3px;
    transition: 2s;
}

.button--intro:hover{
    background-color: #1c5bc3;
    color: #fff;
}
.button--intro:hover ::after {
    opacity: 1;
}
.button--intro:hover ::before {
    opacity: 0;
}


